.logo {
	line-height: 77px;
	margin-left: 30px!important;
	padding:0;
	font-size: 30px;
	font-weight: bold;
}
.main-content {
background: #f1f1f1;
}
.menu-nav {
	height: 70px;
	background: #f1f1f1;
	border-bottom:red !important;
}
.navbar-toggle {
	margin-top: 20px !important;
}
.navbar-default {
	border-radius: none !important;	
}
.top-menu {
	margin-top:18px;
}
.submenu {
	line-height: 5px!important;
	background: none !important;
	box-shadow: none!important;
	margin: 0 9px;
}
.active{
background: white;
border: 1px solid;
border-radius: 6px;
}
.img-slide {
	width: 100%;
	padding: 0 90px;
	padding-bottom: 33px;
    border-bottom: 1px solid #FFFFFF;
}
.img {
	margin-top: 33px;
	padding:0 0;
}
.sed {
	padding: 30px 40px;
}
.sed span {
	font-size: 20px;
	text-align: justify;
}
.btn-view {
  display: inline-block;
  padding: 6px 25px;
  font-size: 20px;
  text-decoration: none;
  outline: none;
  background-color: #ededed;
  border: none;
  border-radius: 9px;
  box-shadow: 0 6px #d7d7d7;
}
.btn {
	float:right;
}
.img-small {
	margin-top: 30px;
}
.avatar {
	width: 100%;
}
.title {
	font-size: 20px;
	font-weight: bold;
}
.leter {
	background: none !important;
}
@media (max-width:768px){
	.sed span,.img-small p,.footer .title {
	font-size: 14px;
}
.img-slide {
	padding: 0 10px;
}
.hiden {
	display: none;
}
.btn-sub {
	margin-top: -3px !important;
}
.navbar-nav {
	background: #FFFFFF;
	position: relative;
	z-index: 1323232323;
}
.btn-view {
	font-size: 14px;
}
.submenu {
	line-height: 17px !important;
}
.active {
	border-radius:0;
}
}
.selected .hiden {
	display: block;
}
@media (max-width:320px){
	.subcribe {
		margin-right:5px !important;
	}
}
.footer {
	padding:0;
	width: 100%;
	background:#272a29;
}
.sub-footer {
	padding: 0 40px;
	margin-left: 0;
	margin-right:0;
}
.footer p {
	padding-bottom: 12px;
	background: url("../images/bg-footer.png")repeat-x bottom left;
	color: #FFFFFF;
}
.footer .title {
	border-top:none;
	margin-top: 30px;
	font-weight: bold;
}
.footer .title a {
	color:#FFFFFF;
}
.btn-sub {
	width: 100%;
    background: black;
    height: 40px;
    border-radius: 12px;
    padding: 0;
    margin-top: -11px;
  }
 .subcribe {
 	height: 24px;
    line-height: 10px;
    margin-top: 7px;
    margin-right: 17px
 }